# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
#create an empty list to collect all reviews
reviews  = []

#create an empty list to collect rating stars
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviewer is from
country = []

In [3]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html.parser")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 30
Error on page 31
Error on page 32
Error on page 34
Error on page 34

In [4]:
# df = pd.DataFrame()
# df["reviews"] = reviews
# df.head()

In [5]:
# import os

# if not os.path.exists("data"):
#     os.makedirs("data")

In [6]:
len(reviews)

3500

In [7]:
len(country)

3500

In [8]:
len(date)

3500

In [9]:
len(stars)

3535

In [10]:
stars = stars[:3500]

In [11]:
df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [12]:
df.head()

,reviews,stars,date,country
0,Not Verified | Only the second time flying BA ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,14th May 2023,United States
1,✅ Trip Verified | I wasn't going to bother rev...,3,14th May 2023,United Kingdom
2,✅ Trip Verified | I booked business class tic...,3,13th May 2023,United States
3,✅ Trip Verified | I will never travel with Br...,1,8th May 2023,Australia
4,✅ Trip Verified | I am already in Portugal so...,1,6th May 2023,United Kingdom

In [13]:
df.shape

(3500, 4)

In [14]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.